.footer-bg {
  background: var(--c2);
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 28px;
  padding: 20px;
}

.footer img {
  width: 60px;
}

.footer span {
  color: var(--b1);
  font: 400 1rem "rubik";
}

@media(max-width: 767px) {
  .footer img {
    width: 50px;
  }
  .footer {
    padding: 16px;
  }

  .footer span {
    font-size: 0.875rem;
  }
}