.main-bg {
  background-color: var(--c1);
}

.main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 190px;
  padding-bottom: 120px;
}


.btn-download {
  background: linear-gradient(var(--a2), var(--a1));
  border: none;
  padding: 12px 32px;
  gap: 16px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  font: 500 1rem "Rubik";
  text-transform: uppercase;
  color: var(--b1);
  letter-spacing: 0.06rem;
  cursor: pointer;
  transition: .6s;
}

.btn-download:hover {
  box-shadow: 0px 0px 20px 0px #007AC199;
  transition: all .3s ease-out;
}

@keyframes btnKey {
  0% {
    box-shadow: 0px;
  }
  50% {
    box-shadow: 0px 0px 20px 0px #007AC199;
  }
  100% {
    box-shadow: 0px;
  }
}

.btn-download.ativo {
  animation: btnKey 1.5s;
  padding: 12px 38px;
}

.img-hero img{
  width: 395px;
  height: 344px;
}

.text-hero h2{
  margin-bottom: 12px;
  color: var(--nav);
  font: 400 1.125rem "Inter";
  letter-spacing: 0.02rem;
}

.text-hero h2 span{
  font: 500 1.25rem "Inter";
  color: var(--b1);
}

.text-hero p {
  font: 400 1rem "Inter";
  color: var(--nav);
  margin-bottom: 32px;
}

.text-hero h1 {
  font: 500 2.75rem/48px "Rubik";
  text-transform: uppercase;
  letter-spacing: .1rem;
  background-image: linear-gradient(to bottom, var(--a2), var(--a1));
  background-clip: text;
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
}

.front {
  margin-bottom: 20px;
}

@keyframes animationName {
0% {
  transform: scale(1);
}
25% {
  transform: scale(1.05);
}
50% {
  transform: scale(1);
}
75% {
  transform: scale(1.08);
}
100% {
    transform: scale(1);
  }
}

.main img:hover {
  animation-name: animationName;
  animation-duration: 1s;
}


@media(max-width:1023px) {
  .main {
    flex-direction: column-reverse;
  }
  .text-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .text-hero h1 {
    text-align: center;
  }
  .img-hero img {
    max-height: 320px;
  }
  .text-hero h2 {
    margin-top: 32px;
  }
}

@media(max-width:767px) {
  .img-hero img {
    height: 60vw;
    width: auto;
    max-height: 260px;
  }
  .text-hero h1 {
    font-size: 2rem;
    line-height: 36px;
  }
  .front {
    margin-bottom: 16px;
  }
  .text-hero h2 {
    font-size: 1rem;
    margin-bottom: 8px;
    margin-top: 12px;
  }
  .text-hero h2 span{
    font-size: 1.125rem;
  }
  .text-hero p {
    font-size: 0.875rem;
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .main {
    padding-top: 140px;
    padding-bottom: 68px;
  }
  
}

@media(max-width:330px) {
  .text-hero h1 {
    font-size: 1.5rem;
    line-height: 32px;
  }
}