.links-bg {
  background-color: var(--c1);
  box-shadow: inset 0 -50px var(--b1);
  padding: 0px 20px;

}

.links {
  background-color: var(--c2);
  gap: 80px;
  width: 1040px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 28px;
  border-radius: 5px;
}

.links a {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #0085F3;
  border-radius: 5px;
  padding: 12px 52px;
  color: var(--b1);
  gap: 8px;
  font: 400 1rem "rubik";
  letter-spacing: 0.07rem;
  transition: all .6s ease-out;
}

.links a:hover {
  background-color: var(--c1);
}

.links a img {
  transition: all .6s ease;
}

.links a:hover img {
  transform: translateX(8px);
}

@media(max-width:1100px) {
  .links {
    width: 100%;
  }
}

@media(max-width:1023px) {
  .links {
    gap:40px
  }
}

@media(max-width:767px) {
  .links {
    gap:20px;
    padding: 28px;
  }
  .links-bg {
    box-shadow: inset 0 -30px var(--b1);
  }
  .links a {
  font-size:0.875rem;
  width: 185px;
  display: flex;
  justify-content: space-between;
  }
}
